@model Nop.Admin.Models.Banners.BannerModel
@{
    ViewBag.Title = T("Admin.Banner.Add").Text;
}
@using Nop.Admin.Models.Banner
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "event-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Admin.Banner.Add") (<a href="/Admin/Banner/List">@T("ITBSFA.BannerList.Back")</a>)
        </div>
        <div class="options">
            <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
        </div>
    </div>
 <table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.PictureId):
        </td>
        <td class="adminData">
            @Html.EditorFor(model=>model.PictureId)
            @Html.RequiredHint()
            @Html.ValidationMessageFor(x=>x.PictureId)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Title):
        </td>
        <td class="adminData">
            @Html.EditorFor(model=>model.Title)
            @Html.RequiredHint()
            @Html.ValidationMessageFor(x=>x.Title)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Alt):
        </td>
        <td class="adminData">
            @Html.EditorFor(model=>model.Alt)
            @Html.RequiredHint()
            @Html.ValidationMessageFor(x=>x.Alt)
        </td>
    </tr>
     <tr>
         <td class="adminTitle">
             @Html.NopLabelFor(model => model.Url):
         </td>
         <td class="adminData">
             @Html.EditorFor(model=>model.Url)
         </td>
     </tr>
     <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.NetBanner):
        </td>
           <td class="adminData">
               @Html.TextAreaFor(model=>model.NetBanner)
           </td>
    </tr>
</table>
<table>
    <tr>
        <td class="adminTitle">
            @T("ITBSFA.Admin.Banner.Position")
        </td>
        <td>
            @{
                var controlTypeList = Nop.Core.Domain.BannerTypeEnum.CatalogPage.ToSelectList();
            }
            
            @Html.DropDownListFor(model => model.BannerTypeId, controlTypeList)
        </td>
    </tr>
    <tr id="categories-dropdown" @if(Model.CategoryId == 0){@Html.Raw("style=\"display:none;\"")}>
        <td class="adminTitle">
            @T("ITBSFA.Admin.Banner.Category")
        </td>
        <td>   
            @Html.DropDownListFor(model => model.CategoryId, Model.AviableCategories)
        </td>
    </tr>
</table>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#BannerTypeId').change(function () {
            var id = $('#BannerTypeId option:selected').attr('value');
            if(id == @((int)Nop.Core.Domain.BannerTypeEnum.Productpage))
            {
                $('#categories-dropdown').show();
            }else
            {
                $('#categories-dropdown').hide();
            }
        });
    });
</script>

