@model Nop.Admin.Models.TextResource.TextResourceModel

@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = T("TextResource.Title").Text;
}
@using (Html.BeginForm())
{
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
        @T("TextResource.Title")
    </div>
    <div class="options">
        <input type="submit" class="t-button" value="@T("Admin.Common.Save")" />
    </div>
</div>
    <table>
        <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model=>model.JoinUsText)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model=>model.JoinUsText)
                    @Html.ValidationMessageFor(model=>model.JoinUsText)
                </td>
            </tr>
        </table>
            
}
