@model Nop.Web.Models.Request.RequestListModel
@using Nop.Web.Framework.UI.Paging
@using Nop.Web.Extensions

@{
   
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    var _localisationService = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Services.Localization.ILocalizationService>();
    Html.AddTitleParts(_localisationService.GetResource("Profile.MyBuyinRequests"));
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.actionsBtn').each(function () {
            $(this).click(function () {


                if ($(this).parent().children(".actionBox").css("display") == "none") {
                    $(".actionBox").css("display", "none");
                    $(this).parent().children(".actionBox").css("display", "block");
                } else {
                    $(this).parent().children(".actionBox").css("display", "none");
                }
            })
        });
    });
</script>

@Html.Action("MyProfileMenuStrip", "Customer", new { activetab = (int)Nop.Web.Models.Customer.MenuTab.BuyingRequests })

<div class="master-wrapper-page">
    <div class="master-wrapper-content buyingRequests">
        <ul id="productMenu">
            <li><a href="/MyBuyingRequests" @if(!Model.PagingContext.History){@Html.Raw("class=\"current\"")}>@T("Profile.Requests.Active")</a></li>
            <li><a href="/MyBuyingRequests/History" @if(Model.PagingContext.History){@Html.Raw("class=\"current\"")}>@T("Profile.Request.History")</a></li>
        </ul>

        <div class="master-wrapper-main">
            <table class="anyTable offers">
                <tr>
                    <th class="c1">@T("Profile.Company.Description")</th>
                    <th class="c2">@T("Profile.Request.ItemType")</th>
                    <th class="c3">@T("Profile.Request.ItemBrand")</th>
                    <th class="c4">@T("Profile.Request.Date")</th>
                    <th class="c5">@T("Profile.Request.Company")</th>
                    <th class="c6">@T("Profile.Request.Messages")</th>
                    <th class="c7">@T("Profile.Request.Actions")</th>
                </tr>
                @foreach(var request in Model.Requests)
                {
                    <tr>
                        <td>
                            @if(request.IsNew)
                            {
                                <div class="indicatorBox">
                                    <div class="indicator"></div>
                                </div>
                            }
                            <a href="@Url.RouteUrl("Product",new {seName = request.ProductSeName})">@request.ProductTitle</a>
                            <p>@request.ProductDescription</p>
                        </td>
                        <td>
                            @if (request.ItemType == Nop.Core.Domain.Catalog.ProductItemTypeEnum.Product || request.ItemType == Nop.Core.Domain.Catalog.ProductItemTypeEnum.ProductBuyingRequest)
                            {
                                @Html.Raw(_localisationService.GetResource("admin.currentcarts.product"))
                            }else{
                                @Html.Raw(_localisationService.GetResource("Profile.Request.Service"))
                            }
                        </td>
                        <td>@request.BrandName</td>
                        <td>@request.RequestDate.ToString("d")</td>
                        <td><a href="@Url.RouteUrl("CompanyInformation",new {seName=request.CompanySeName})">@request.CompanyName</a></td>
                        <td><div class="messageSplash blue l top"><div class="arrowSplash"></div>@request.RequestComment</div></td>
                        <td>
                            <div class="actionContainer">
                                <a class="button-link actionsBtn accept " nohref="nohref">@T("Profile.Request.Accept")</a>
                                @using (Html.BeginForm("AnswerRequest", "BuyingRequest", FormMethod.Post, new { @class = "actionBox green invisible" }))
                                {
                                    <p>@T("TextResource.AcceptRequestPrompt.Value")</p>
                                    <input type="hidden" name="requestId" value="@request.Id" />
                                    <input type="hidden" name="Status" value="True"/>
                                    <textarea cols="30" rows="10" name="requestcomment"></textarea>
                                    <button class="button-link actionSend">@T("privatemessages.send.sendbutton")</button>
                                }
                            </div>
                            <div class="actionContainer">
                                <a class="button-link actionsBtn reject" nohref="nohref">@T("Profile.Request.Reject")</a>
                                @using (Html.BeginForm("AnswerRequest", "BuyingRequest", FormMethod.Post, new { @class = "actionBox red invisible" }))
                                {
                                    <p>@T("TextResource.RejectRequestPrompt.Value")</p>
                                    <input type="hidden" name="requestId" value="@request.Id" />
                                    <input type="hidden" name="Status" value="False"/>
                                    <textarea cols="30" rows="10" name="requestcomment"></textarea>
                                    <button class="button-link actionSend">@T("privatemessages.send.sendbutton")</button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </table>
            <div class="navBox">
                @(Html.Pager(Model.PagingContext).QueryParam("pagenumber").ShowFirst(true).ShowLast(true).ShowPrevious(true))
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('form').submit(function () {
        var request = $.trim($(this).find('[name="requestcomment"]').val());
        if (!request) {
            $('#firstPopOk h2').text('');
            $('#firstPopOk p').text('@T("Etf.Request.NotEmpty")');
            showPop("firstPopOk");
            return false;
        }
        $(this).find(':submit').attr('disabled', 'disabled');
        return true;
    });
</script> 