@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@*<div id="forgot-password" class="invisible">
    @using (Html.BeginForm("PasswordRecoovery", "Customer", FormMethod.Post, new { @class = "loginPop" }))
    {
     @Html.ValidationMessageFor(model => model.Email)
     
     @Html.TextBoxFor(model => model.Email, new {@class="required", placeholder = T("Account.Login.Fields.Email").Text, onfocus = "ResetError", id="email-recovery"})
     <div class="line">
         <span id="forgot-pass-submmit" class="button button-link">Submit</span>
     </div>
    }
</div>*@
<div class="popupBg">
	<div class="popup" id="forgot-password">
        @using (Html.BeginForm("PasswordRecoovery", "Customer"))
        {
		<div class="body">
			@*<h3>Заголовок</h3>
			<p>Всплывающие окна имеют широкий диапазон применений — от полезного для потребителя программного обеспечения до злоумышленного. Наиболее широкое применение всплывающие окна приобрели для размещения рекламных сообщений в сети Интернет. Содержащие рекламу всплывающие окна открываются на переднем (англ. pop-up) или на заднем фоне (англ. pop-under).</p>*@
            @Html.ValidationMessageFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new {@class="required", placeholder = T("Account.Login.Fields.Email").Text, onfocus = "ResetError", id="email-recovery"})
		</div>
		    <a href="#" class="btn ok" id="forgot-pass-submmit">@T("ITBSFA.ForgotPassword.Submit")</a>
         }
	</div>
	<div class="helper"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#forgot-pass-submmit').click(function () {
            $(this).prop('disabled',true);
            var email = $('#email-recovery').val();
            var form = $('#forgot-password form');
            //$(this).parent().parent().parent().fadeOut();
            form.validate();
            if (form.valid()) {
                $.ajax({
                    type: "POST",
                    data: { Email: email },
                    url: "/Customer/PasswordRecoverySend",
                    success: function (resp) {
                        if (resp == '@T("Account.PasswordRecovery.EmailHasBeenSent")') {
                            $('#forgot-pass-submmit').parent().parent().parent().fadeOut();
                            $('#forgot-pass-submmit').prop('disabled', false);
                            $('#popAlert h3').text('@T("ITBSFA.PasswordRecovery.PopUpTitle")');
                            $('#popAlert p').text(resp);
                            $('#popAlert .btn').click(function () {
                                window.location.href = '/';
                            });
                            showPop("#popAlert");
                        } else {
                            $('#forgot-pass-submmit').parent().parent().parent().fadeOut();
                            $('#popAlert h3').text('@T("ITBSFA.PasswordRecovery.PopUpTitle.Error")');
                            $('#popAlert p').text(resp);
                            $('#popAlert .btn').click(function () {
                                $('#forgot-pass-submmit').parent().parent().parent().fadeIn();
                                $('#forgot-pass-submmit').prop('disabled', false);
                            });
                            showPop("#popAlert");
                        }
                    }
                });
            }
            return false;
        });

        $('#forgot-password form').submit(function (event) {
            event.preventDefault();
            $('#forgot-pass-submmit').prop('disabled', true);
            var email = $('#email-recovery').val();
            var form = $('#forgot-password form');
            //$(this).parent().parent().parent().fadeOut();
            form.validate();
            if (form.valid()) {
                $.ajax({
                    type: "POST",
                    data: { Email: email },
                    url: "/Customer/PasswordRecoverySend",
                    success: function (resp) {
                        if (resp == '@T("Account.PasswordRecovery.EmailHasBeenSent")') {
                            $('#forgot-pass-submmit').parent().parent().parent().fadeOut();
                            $('#forgot-pass-submmit').prop('disabled', false);
                            $('#popAlert h3').text('@T("ITBSFA.PasswordRecovery.PopUpTitle")');
                            $('#popAlert p').text(resp);
                            $('#popAlert .btn').click(function () {
                                window.location.href = '/';
                            });
                            showPop("#popAlert");
                        } else {
                            $('#forgot-pass-submmit').parent().parent().parent().fadeOut();
                            $('#popAlert h3').text('@T("ITBSFA.PasswordRecovery.PopUpTitle.Error")');
                            $('#popAlert p').text(resp);
                            $('#popAlert .btn').click(function () {
                                $('#forgot-pass-submmit').parent().parent().parent().fadeIn();
                                $('#forgot-pass-submmit').prop('disabled', false);
                            });
                            showPop("#popAlert");
                        }
                    }
                });
            }
            return false;
        });
    });
</script>
