@model PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Nop.Web.Models.Customer;

<div class="master-wrapper-page">
    <div class="master-wrapper-content">
        <div class="master-wrapper-main">
            <div class="master-wrapper-whiteboard">
                <div class="leftSide">
                    <h1>@T("Account.PasswordRecovery")</h1>
                    @if (!String.IsNullOrEmpty(Model.Result))
                    {
                        <div class="result">
                            <h2>@Model.Result</h2>
                        </div>
                    }
                    @if (!Model.SuccessfullyChanged)
                    {

                    <div class="contactsForm passwordRecovery litegreen">
                            @using (Html.BeginForm())
                            {
                                <p>
                                    <label for="userName">@Html.LabelFor(model=>model.NewPassword):</label>@Html.ValidationMessageFor(model => model.NewPassword)<br />
                                    @Html.EditorFor(model => model.NewPassword)
                                </p>
                                <p>
                                    <label for="userName">@Html.LabelFor(model=>model.ConfirmNewPassword):</label>@Html.ValidationMessageFor(model => model.ConfirmNewPassword)<br />
                                    @Html.EditorFor(model => model.ConfirmNewPassword)
                                </p>
                                <p class="contactsButton">
                                <input type="submit" value="@T("Account.PasswordRecovery.ChangePasswordButton")"  name="set-password" />
                            </p>
                            }
                    </div>
                    }
                </div>
            </div>
        </div> </div>
</div>
