@model Nop.Admin.Models.Common.LogoModel
@{
    ViewBag.Title = T("Admin.ContentManagement.Logo").Text;
    var rootUrl = EngineContext.Current.Resolve<Nop.Core.Domain.StoreInformationSettings>().StoreUrl;
}
@using (Html.BeginForm("Index", "Logo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
        @T("Admin.ContentManagement.Logo").Text
    </div>
    <div class="options">
        <input type="submit" class="t-button" value="@T("Admin.Common.Save").Text" />
    </div>
</div>
    <div style="width:73px;height:38px;">
    <img id="logo-img" src="@Html.Raw(rootUrl.Remove(rootUrl.Length - 1,1) + Model.ImageUrl)" width="100%"/></div>
    <div style="margin-top:25px;">
    @Html.TextBoxFor(model=>model.File,new {type="file", id="logo-file", name="logo"})</div>
}
<script type="text/javascript">
    $('form').submit(function () {
        if ($('#logo-file').val() == '') {
            alert('Choose logo first');
            return false;
        }

        return true;
    });
    $(document).ready(function () {
        $("#logo-img").attr('src', $("#logo-img").attr('src') + '?' + (new Date()).getTime());
    });
</script>