@model IEnumerable<Nop.Admin.Models.Catalog.ProductModel>
<div class="slideGoods">
    <a href="#" class="arrPrev" id="go-left">
        <div class="cornerLeft"></div>
    </a>
    <a href="#" class="arrNext" id="go-right">
        <div class="cornerRight"></div>
    </a>

    <div class="goods">
        <div>
            @foreach (var item in Model)
            {
                var link = ((Nop.Core.Domain.Catalog.ProductItemTypeEnum)item.ProductItemTypeId).ToString();
                <div class="goodBox">
                         


                  @*  <a href="@Url.Action("Brand", "Catalogue", new { brandId = item.BrandId })" class="goodCaption">@item.Brand.Name</a>*@
                    <div class="productPicture">@if(!String.IsNullOrEmpty(item.PictureThumbnailUrl)){<img src="@Url.Content(@item.PictureThumbnailUrl)" alt="">}</div>
                    <a href="@Url.Action("Details", "Catalogue", new { seName = item.SeName})" class="goodLink">@item.Name
                    </a>
                </div>
               
            }
        </div>
    </div>
</div>
@* IF YOU ARE MAKING CHANGES, PLEASE MAKE CHANGES TO RECENTLYVIEWEDITEMS.CSHTML *@